table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    border: none;
}

th {
    height: 2em;
    background-color: #fffffa;
}

td {
    height: 6em;
    width: 14.2%;
    vertical-align: top;
    
}

.lblCal{
    float: left
}

.checkCal{
    float: right;
}

td th{
    border: none;
}

caption{
    font-size: 20pt;
}

div{
    overflow: scroll;
}

.mainCell{
    background-color: #fffffa;
}

.event{
    width:97%;
    height:1.2em;
    border-style:solid;
    border-width:1px;
    border-color:LightSkyBlue;
    border-radius:5px;
    margin:2px;
}

form label, input {
    display:inline;
    
}

input.text {
    margin-bottom:12px; width:95%; padding: .4em;
}
fieldset {
    padding:0; border:0; margin-top:25px;
}

.title{
    float: left;
    color:LightCoral;
}
.time{
    float: right;
    color: LightCoral;
}
    
.tableSide{
    float: left;
}
    
body{
    background-color: #cdeee6;
    font-family:  calibri, arial, sans-serif;
}
    